@use '../core/all' as *;

.categories-video {
	// .categories-video_-body
	&__body {
		padding: 12rem 0;
	}

	.services {
		// services__body
		&__body {
			height: 100%;
		}

	}

	.services-slide {
		overflow: hidden;

		//  .services-slide__image
		&__image {
			width: 100%;

			img {
				max-height: 290px;
				width: 100%;
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		// .services-slide__text
		&__text {
			flex-direction: column;
		}

		// .services-slide__column
		&__column {
			display: flex;
			flex-direction: column;
			gap: 5rem;
		}
	}
}
