@use '../core/all' as *;

.questions {
	display: flex;
	justify-content: center;

	// .questions__body
	&__body {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		padding: 6rem 0;

		@include min-1140 {
			padding: 10rem 0;
		}
	}

	// .questions__title
	&__title {
		font: {
			family: 'AA Neon', Helvetica, sans-serif;
			size: 5rem;
			weight: normal;
		}
		line-height: 100%;
		position: relative;
		z-index: 9;
		display: inline;
		margin-bottom: 4rem;
		text-align: center;
		letter-spacing: 0;
		color: $neon-blue;
		perspective: 100px;
		filter: $filter;

		@include minmax-320-1920 {
			font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (1920 - 320)));
		}

		@include screen-320 {
			font-size: 24px;
		}
	}

	// .questions__list
	&__list {
		max-width: 1240px;
		padding: 2rem;
		border-radius: 4px;
		backdrop-filter: blur(20px);
		border: 1px solid rgba(128, 128, 128, 0.09);
		box-shadow: 0 0 7px 10px rgba(0, 0, 0, 0.1);
		background: rgba(28, 21, 63, 0.27);
	}

	// .questions__item
	&__item {

		&:not(:last-child) {
			margin-bottom: 2rem;
			border-bottom: 1px solid #4e4e4e;
		}

		&._collapsed {
			.questions__collapse {
				grid-template-rows: 1fr;
			}

			h3 {
				color: $electric-lime;
			}

			.icon-angles-down-solid {
				scale: -1;
			}
		}
	}

	// .questions__head
	&__head {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;

		.icon-angles-down-solid {
			transition: scale 0.4s,
			color 0.4s ease-in-out;
			pointer-events: none;
			padding: 0 2rem;
			text-shadow: 0 0 1px $liquid-neon;

			&::before {
				color: $neon-blue-dark;
			}
		}

		h3 {
			pointer-events: none;
			font-size: 20px;
			line-height: 125%; /* 75px/28 */
			transition: color 0.4s ease-in-out;

			@include minmax-320-1920 {
				font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
			}

			@include screen-320 {
				font-size: 14px;
			}
		}
	}

	// .questions__collapse
	&__collapse {
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		transition: grid-template-rows 0.4s ease-in-out;
	}

	// .questions__text
	&__text {
		min-height: 0;
		font-size: 16px;

		@include minmax-320-1920 {
			font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
		}

		@include screen-320 {
			font-size: 12px;
		}

		p {
			opacity: 0.7;
			line-height: 155%;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 30px;
			}

			a {
				display: inline-block;
				white-space: nowrap;
				color: $neon-blue;
				text-decoration: underline;
				opacity: 1;
			}
		}

		ul {
			margin-bottom: 2rem;
		}

		li {
			list-style: disc inside;
			opacity: 0.7;
		}
	}
}
