@use '../core/all' as *;

.service-description {
	// .service-description__column
	&__column {
		position: relative;
		display: flex;
		flex-direction: column;
		z-index: 19;
		overflow: hidden;
		@extend .gradient-neon-revers;

		&._parallax-column {
			background-color: $color;
		}
	}

	// .service-description_body
	&__body {
		position: relative;
		display: flex;
		padding: 6rem 0;
		z-index: 9;

		&::before {
			content: '';
			height: 1px;
			width: 100%;

			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-image: linear-gradient(
				to left,
				rgb(56, 31, 71) 30%,
				rgb(2, 1, 1) 70%
			);
		}

		@include min-1140 {
			padding: 10rem 0;
		}
	}

	// .service-description__content
	&__content {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	// .service-description__title
	&__title {
		font: {
			family: 'AA Neon', Helvetica, sans-serif;
			size: 60px;
			weight: normal;
		}
		text-align: center;
		line-height: 100%;
		position: relative;
		z-index: 9;
		display: inline;
		margin-bottom: 4rem;
		letter-spacing: 0;
		color: $neon-blue;
		filter: $filter;
		text-transform: uppercase;

		span {
			font-family: $font-family-secondary;
		}

		@include minmax-320-1920 {
			font-size: calc(27px + (60 - 27) * ((100vw - 320px) / (1920 - 320)));
		}

		@include screen-580 {
			max-width: 350px;
		}

		@include screen-320 {
			font-size: 27px;
		}
	}

	//.service-description__description
	&__description {
		position: relative;
		font-size: 20px;
		width: 100%;
		max-width: 1240px;
		padding: 3rem 2rem;
		border-radius: 1rem;
		border: 1px solid rgba(128, 128, 128, 0.09);
		box-shadow: 0 0 7px 10px rgba(0, 0, 0, 0.1);
		background: rgba(28, 21, 63, 0.13);

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			filter: blur(4px);
			z-index: -1;
		}

		[class*='icon-'] {
			display: inline-flex;
			font-size: 1.8rem;
		}

		.icon-guitar-line,
		.icon-volume-high,
		.icon-musical-notes,
		.icon-camera-film,
		.icon-clapper,
		.icon-head-phones,
		.icon-snow {
			color: $neon-blue-dark;
		}

		.icon-check,
		.icon-hand-pointer,
		.icon-piano {
			opacity: 0.6;
			color: $electric-lime;

			&::before {
				font-weight: 300;
			}
		}

		._icon {
			margin-right: 10px;
		}

		.icon-hand-pointer {
			transform: rotate(90deg);
			// background: linear-gradient();
		}

		h2 {
			margin-bottom: 2rem;
			font-size: 30px;
			font-weight: 450;
			color: $neon-blue;
			opacity: 0.8;
			line-height: 110%;

			&:not(:first-child) {
				margin-top: 4rem;
			}

			@include minmax-320-1920 {
				font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
			}

			@include screen-320 {
				font-size: 20px;
			}
		}

		h3 {
			font-size: 2.2px;
			opacity: 0.8;
			font-weight: 500;
			margin: 0 0 10px;
			color: $neon-blue;

			@include minmax-320-1920 {
				font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
			}

			@include screen-320 {
				font-size: 16px;
			}
		}

		p {
			opacity: 0.8;

			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}

		span {
			font-weight: 500;
			color: $electric-lime;
		}

		li {
			opacity: 0.9;

			span {
				display: inline-block;
				color: $electric-lime;
			}

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		@include minmax-320-1920 {
			font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 120)));
		}

		@include max-375 {
			padding: 3rem 1.3rem;
		}

		@include screen-320 {
			font-size: 12px;
		}
	}

	// .service-description__link
	&__link {
		color: $neon-blue;
		@extend .link_underline;
		transition: opacity 0.4s ease;

		&:hover {
			opacity: 0.5;
		}
	}

	// .service-description__row
	&__row {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
		gap: 3rem;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		._icon {
			margin: 0.7rem 1.5rem 0 0;
			align-self: flex-start;
		}

		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	// .service-description__row-col
	&__row-col {
		ul {
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}

		li {
			display: flex;
		}
	}

	//.service-description__ps
	&__ps {
		font-size: 16px;
		opacity: 1 !important;
		color: #9983ec;

		@include minmax-320-1920 {
			font-size: calc(12px + (16 - 10) * ((100vw - 320px) / (1920 - 120)));
		}

		@include screen-320 {
			font-size: 10px;
		}
	}

	//.service-description__image
	&__image {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	// .service-description__button
	&__button {
		margin-top: 40px;
		border-radius: 7px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		align-self: center;
		box-shadow: 0 0 6px #000;
	}
}
