@use '../core/all' as *;

.partners {
	// .partners__body
	&__body {
		position: relative;
		z-index: 9;
		overflow: hidden;
		height: 100%;
		padding: 6rem 0;
		display: flex;
		flex-direction: column;

		@include min-1140 {
			padding: 10rem 0;
		}
	}

	// .partners__title
	&__title {
		margin-bottom: 6rem;
		font: {
			family: 'AA Neon', Helvetica, sans-serif;
			size: 5rem;
			weight: normal;
		}
		line-height: 100%;
		position: relative;
		z-index: 9;
		display: inline-block;

		text-align: center;
		white-space: nowrap;
		letter-spacing: 0;
		color: $neon-blue;
		filter: $filter;

		@include minmax-320-1920 {
			font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (1920 - 320)));
		}

		@include screen-320 {
			font-size: 24px;
		}
	}

	// .partners__content
	&__content {
		height: 100%;
	}
}

.partners-slide {
	// .partners-slide__body
	&__body {
		display: flex;
	}

	// .partners-slide__column
	&__column {
		border-radius: 10px;
	}

	// .partners-slide__content
	&__content {
		display: grid;
		overflow: hidden;
		height: 100%;
		border-radius: 10px;
		grid-template-columns: minmax(150px, min-content) auto;
		@extend .gradient-spec;

		@include max-690 {
			grid-template-columns: minmax(150px, 1fr) !important;
		}
	}

	// .partners-slide__image
	&__image {
		width: 100%;
		grid-row: 1 / 3;

		@include screen-768 {
			grid-row: 1 / 2;
		}

		@include max-690 {
			grid-column: 1 / 1 !important;
		}

		img {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;
			border-top-left-radius: 10px;
			border-bottom-right-radius: 50px;
			border-bottom-left-radius: 10px;
			background-size: cover;
			object-fit: cover;
		}
	}

	// .partners-slide__title
	&__title {
		font-size: 2rem;
		font-weight: 500;
		display: flex;
		align-items: center;
		padding: 1.5rem;
		grid-column: 2 / 3;

		@include screen-768 {
			grid-row: -1 / -1;
		}

		@include max-690 {
			text-align: left;
			grid-row: 2 / 3 !important;
			grid-column: 1 / 1;
		}
	}

	// .partners-slide__text
	&__text {
		font-size: 1.6rem;
		height: 100%;
		padding: 1.5rem;
		text-align: left;
		color: $gray;

		@include screen-768 {
			grid-row: 2 / 3;
			grid-column: 1 / 3;
		}

		@include max-690 {
			grid-row: 3 / 4 !important;
		}
	}

	// .partners-slide__pagination
	&__pagination {
		@extend .pagination;
	}
}

.swiper-wrapper {
	align-items: flex-start;
}
