@use '../core/all' as *;

.swiper-wrapper > .swiper-slide:not(.swiper-slide-active) {
	.main-slide__title {
		transition: opacity 0.9s ease-in-out;
		opacity: 0 !important;
	}

	.main-slide__text {
		transition: opacity 0.9s ease-in-out;
		opacity: 0 !important;
	}
}

//* ----------------------------------------------------------------------------
.checkbox {
	&._error {
		.checkbox__label::before {
			box-shadow: 0 0 14px 3px #f16666;
		}
	}

	// .checkbox__input
	&__input {
		display: none;

		&:checked + .checkbox__label .icon-angle-down {
			display: block;
			scale: 1;
			opacity: 1;
		}
	}

	&__checed {
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 140%;
	}
}

._clip-circle {
	@include min-960 {
		cursor: pointer;
		position: relative;
		z-index: 2;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			background: linear-gradient(-45deg, #20193c, #020101 70%);
			clip-path: circle(var(--size) at var(--pos));
			transition: all 0.9s ease-in-out;
			z-index: 1;
		}

		&:hover {
			&:before {
				--size: 200%;
			}
		}
	}
}

.community {
	// .community__icon
	&__icon {
		font-size: 2.2rem;
		overflow: hidden;
		width: 4.2rem;
		height: 4.2rem;
		transition: all 0.2s ease-in-out;
		color: $black-color;
		border-radius: 50%;
		background: $electric-lime;

		i {
			&::before {
				transition: color 0.2s ease-in-out;
			}
		}

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:hover {
			color: $electric-lime;
			background: $black-color;
		}
	}
}

//* ------------------------- [Class _ibg] -------------------------------------
._ibg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	svg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.h1_01901 {
	@include minmax-490-1920 {
		font-size: calc(
						28px + (50 - 28) * ((100vw - 490px) / (1920 - 490))
		) !important;
	}
	@include screen-490 {
		font-size: 28px !important;
	}
}

.h2_01901 {
	@include minmax-490-1920 {
		font-size: calc(
						28px + (50 - 28) * ((100vw - 490px) / (1920 - 490))
		) !important;
	}
	@include screen-490 {
		font-size: 28px !important;
	}
}

.t_01901 {
	@include minmax-490-1920 {
		font-size: calc(
						16px + (28 - 16) * ((100vw - 490px) / (1920 - 490))
		) !important;
	}
	@include screen-490 {
		font-size: 12px !important;
	}
}

.order-button {
	border: 0;
	border-radius: 4px;
	color: white;
	font-size: 1.6rem;
	font-weight: 500;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
	0 6px 6px rgba(0, 0, 0, 0.05);
	transition: all 0.5s ease-in-out;
	animation: shadow-pulse 1.5s infinite;
}

button {
	transition: color 0.5s ease-in-out;
	position: relative;
	z-index: 9;
	display: inline-flex;
	padding: 2rem 5rem;
	text-transform: uppercase;
	font-weight: 400;
	overflow: hidden;

	span {
		text-shadow: 1px 1px 1px #000;
	}
}

.btn-grad {
	background-image: linear-gradient(
									-45deg,
									#0b0813ff 10%,
									rgba(87, 87, 255, 0.63) 51%,
									#0b0813ff 90%
	);
	// background-position: 100% center;
	background-size: 200% auto;

	&:hover {
		background-position: right center;
		/* change the direction of the change here */
	}
}

.hr-shelf {
	position: relative;
	z-index: 11;

	// .hr-shelf__content
	&__content {
		margin: -50px auto 10px;
		padding: 0;
		height: 50px;
		border: none;
		width: 80%;
		border-bottom: 1px solid rgba(56, 31, 71, 0.47);
		box-shadow: 0 20px 20px -20px #100e10
	}

}

//* ----------------------------------------------------------------------------
canvas {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
}
