@use "variables.scss" as *;
@use "mixins.scss" as *;
@include font-face("AA Neon", "AA Neon", 400, "normal");
@include font-face("Architectural", "Architectural", 400, "normal");
@include font-face("icon-set", "icon-set", 400, "normal");
@include font-face("irmologion Caps ieUcs", "irmologion Caps ieUcs", 400, "normal");
@include font-face("Manrope", "Manrope", 400, "normal");
