@use 'variables' as *;
@use 'mixins.scss' as *;

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 6rem;

	.swiper-pagination-bullet {
		width: 15px;
		height: 15px;
		content: '';
		border-radius: 50%;
		background: #2a3514;
		transition: background 0.5s ease-in-out;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	.swiper-pagination-bullet-active {
		width: 15px;
		height: 15px;
		content: '';
		border-radius: 50%;
		background: #9acd32;
		scale: 1.2;
		transition: scale 0.5s ease-in-out;
	}

	@include min-1024 {
		// display: none;
	}
}

.grad_underline {
	/* Определяем фоновые изображения */
	transition: background-size 400ms;

	/* Размер фона для каждого слоя */
	background-image: linear-gradient(to left, transparent, transparent),
	linear-gradient(
									to left,
									var(--background-selected),
									var(--font-color-active)
	);

	/* Позиционирование фона */
	background-repeat: no-repeat;

	/* Повторение фона */
	background-position: 100% 100%,
		/* Первое изображение */
	0 100%; /* Второе изображение */

	/* Переход для изменения размера фона */
	background-size: 100% 1px,
		/* Первое изображение */
	0 1px; /* Второе изображение */
}

.gradient-black {
	background-image: linear-gradient(-45deg, #1b0d39, #020101 70%);
}

.gradient-default {
	background: linear-gradient(
									to left,
									rgb(11, 8, 19) 0%,
									rgb(43, 38, 68) 0%,
									rgb(11, 8, 19) 100%
	);
}

.gradient-neon-color {
	// background-image: linear-gradient(to left, #1b0d39, #0d081c 70%);
	background: radial-gradient(
									at 2.2240887065805293% 71.24496017695185%,
									$custom-100, $custom-200, $custom-300),
	radial-gradient(at -58.35886343001991% 70.7398580943191%,
									$custom-400, $custom-700, $custom-700),
	radial-gradient(at 134.35886343001991% 12.7398580943191%,
									$custom-400, $custom-500, $custom-600),
	radial-gradient(at 54.35886343001991% 94.7398580943191%,
									$custom-400, $custom-500, $custom-600)
}

//* ----------------------------------------------------------------------------

//* ----------------------------------------------------------------------------

.gradient-spec {
	background-image: linear-gradient(
									-45deg,
									rgb(23, 14, 49) 0%,
									rgba(254, 89, 194, 0.3),
									rgb(23, 14, 49) 83%
	);
	background-size: 200% auto;
	transition: background-position 0.4s ease-in-out;

	&:hover {
		background-position: right center;
	}
}

.gradient-spec-comfort {
	background-image: linear-gradient(
									-45deg,
									#170e31 0%,
									rgba(200, 255, 0, 0.3),
									#170e31 83%
	);
	background-size: 200% auto;
	transition: background-position 0.4s ease-in-out;

	&:hover {
		background-position: right center;
	}
}

.liner-gradient-box {
	background-image: linear-gradient(45deg, #10133a 55%, #47208a73 10%, #10133a) /
		cover no-repeat;
}

.text-gradient {
	background: currentColor 100%;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-header {
	background-image: linear-gradient(
									-45deg,
									#1a1530,
									#332764 60%,
									rgb(42, 53, 20) 10%,
									#000 70%
	);
}

.gradient-services {
	background-image: linear-gradient(
									to right,
									#050202ff 20%,
									#1c153f 50%,
									#050202ff 80%
	);
}

.gradient-title {
	background-image: linear-gradient(to top, #170e31 10%, #402e6b 50%, #1a1530 100%);
}

.gradient-spec-active {
	background-image: linear-gradient(-45deg, #04d9ff, #170e31 83%);
	background-size: 200% 200%;
}

.gradient-border-right {
	background-image: linear-gradient(
									to right,
									rgba(42, 53, 20, 0.685) 20%,
									#332764 50%,
									#2a3514 80%
	);
}

.gradient-border-left {
	background-image: linear-gradient(to left top, #8164ff 40%, rgb(42, 53, 20) 70%);
}

.icon-style {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1.5rem;
	border: 1px var(--border-color);
	border-style: none solid;
}

.shadow-after {
	z-index: -1;
	transform: rotateX(15deg) translateZ(-10px);
	color: rgba(23, 14, 49, 0.479);
	text-shadow: 5px 0 5px $color,
	0 0 10px rgba(125, 248, 255, 0.26),
	0 0 10px rgba(204, 255, 0, 0.267);
}

// background: linear-gradient(to right, #04d9ff 20%, #ffff 50%, #04d9ff 80%);
//! ----------------------------------------------------------------------------
.overflow-hidden {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		height: 0;
	}
}

.border-present {
	position: absolute;
	display: block;
	color: $neon-blue;
	background-image: linear-gradient(
									to right,
									currentColor 0%,
									$liquid-neon 8%,
									transparent 8%,
									transparent 92%,
									$liquid-neon 92%,
									currentColor 100%
	),
	linear-gradient(
									to right,
									currentColor 0%,
									$liquid-neon 8%,
									transparent 8%,
									transparent 92%,
									$liquid-neon 92%,
									currentColor 100%
	),
	linear-gradient(
									to bottom,
									currentColor 0%,
									$liquid-neon 11%,
									transparent 11%,
									transparent 89%,
									$liquid-neon 89%,
									currentColor 100%
	),
	linear-gradient(
									to bottom,
									currentColor 0%,
									$liquid-neon 11%,
									transparent 11%,
									transparent 89%,
									$liquid-neon 89%,
									currentColor 100%
	);
	background-repeat: no-repeat;
	background-position: 0 0,
	0 100%,
	0 0,
	100% 0;
	background-size: 100% 1px,
	100% 1px,
	1px 100%,
	1px 100%;
	inset: 0.7rem;
}

.link_underline {
	&::before,
	&::after {
		position: absolute;
		width: 0;
		height: 1px;
		content: '';
		transition: width 0.4s ease-in-out;
		opacity: 0.6;
		background-color: $neon-blue;
	}

	&::before {
		right: 0;
		bottom: 0;
	}

	&::after {
		bottom: 0;
		left: 0;
	}

	&._active {
		// text-shadow: 2px 2px 3px #000;

		&::before {
			width: 45%;
		}

		&::after {
			width: 45%;
		}
	}

	&:hover {
		transition: color 0.4s ease-in-out;
		color: $neon-blue;

		&::before {
			width: 45%;
		}

		&::after {
			width: 45%;
		}

		a {
			opacity: 1;
		}
	}
}

.is-open {
	display: grid;
	width: 100%;
	transition: grid-template-rows 0.4s ease-in-out;
	grid-template-columns: 1fr;
	grid-template-rows: 0fr;

	&._is-open {
		grid-template-rows: 1fr;
	}
}

.gradient-border-bottom {
	background-image: linear-gradient(to left top, #8164ff 40%, rgb(42, 53, 20) 70%);
}
