//todo ---------------------------- Core ---------------------------------------
@use 'core/all.scss' as *;
// todo --------------------------- Modules ------------------------------------
@use 'modules/preloader';
@use 'modules/parallax';
// todo --------------------------- Assets -------------------------------------
@use 'assets/burger-button';
@use 'section/section-order';
@use 'assets/menu-float';
// todo --------------------------- Fonts --------------------------------------
@use 'core/_fonts.scss';
//todo  --------------------------- Icon Fonts ---------------------------------
@use 'core/_iconfonts.scss';
// todo --------------------------- Plugins ------------------------------------
@use 'assets/swiper';
// todo --------------------------- layout -------------------------------------
@use 'layouts/bem-block';
@use 'layouts/header';
@use 'layouts/footer';
// todo ---------------------------- Pages -------------------------------------
@use 'pages/page-main';
// todo -------------------------- Section -------------------------------------
@use 'section/section-offer';
@use 'section/about-footer';
// todo ------------------------ Default fonts ---------------------------------
// &display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes:regular&display=swap&subset=cyrillic-ext');
// #region
// todo ---------------------------- Style -------------------------------------
.wrapper {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
}

[class*='_container'] {
	max-width: $maxWidthContainer;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 2rem;
}

[class*='icon-'] {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
