extends ../layouts/app_layout
prepend script
	script(defer="defer" src="@@webRoot/js/vendors/runtime.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/anime-vendors.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/react-vendors.min.js") 
	script(defer="defer" src="@@webRoot/js/index.min.js")
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
block title
	- var text='Студия звукозаписи "Gusli" Media-Group'

block page-content
	.page(data-page="index") 
		block button
			._aside#scrollButton
				+iconfont('angle-down', '_button') 