@use '../core/all' as *;

.parallax {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100vh;
	min-height: 100%;
	pointer-events: none;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	&__image-blur {
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(3px);
	}

	// .parallax__image
	&__image {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			opacity: 0.1;
			object-fit: cover;
			object-position: top center;
			will-change: transform;

			&:nth-child(1) {
				z-index: 1;
			}

			&:nth-child(2) {
				z-index: 2;
				opacity: 0.2;
				backdrop-filter: blur(50px);
			}

			@include minmax-320-490 {
				object-position: calc(-100px + (0 - (-100)) * ((100vw - 320px) / (490 - 320)));
			}
			@include screen-320 {
				object-position: -100px 0;
			}
		}

	}

	&__image-achieve {
		filter: grayscale(91%);
	}

	// .parallax__image-services
	&__image-services {
		object-position: bottom center;
	}

	&__services-company {
		filter: grayscale(1);
		opacity: 0.1 !important;
	}

	picture {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		will-change: transform;
	}
}
