extends ../../../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/service-style.min.css")
prepend script
	script(defer="defer" src="@@webRoot/js/vendors/runtime.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/anime-vendors.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/react-vendors.min.js")
	script(defer="defer" src="@@webRoot/js/video-design.min.js")
block title
	- var text='Студия звукозаписи "Gusli" Media-Group'

block page-content
	.page
		block button
			._aside#scrollButton
				+iconfont('angle-down', '_button')